meta(name='description', content='Home page')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(href="/style.css", rel="stylesheet")
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
script(src="/enterGameFunc.js")
div#wrapper_logIn
  div#main
  
    h1 tic tac toe tournament 
    div(style=`display:${messageDisplay}`)#message_regis #{message} 
      button.close_alert x
    if showRegistration
    div#registrationWrapper
      div#registrationForm
        h2.center enter nickname

        form(action='/register', method='post').center
          div
            
            input#nickname(type='text', name='username')
            div#invalidDiv
          div

            input#passwordField(type='password', name='password')
            <script>document.getElementById("passwordField").value = "defaultPass"</script>
          div
            input#register_button(type='submit', value='Register' )
    div#rules.container
      h3#about About Tournament
      p Once you enter your nickname you will be matched with your opponent.There are 3 levels in this tournament:
      span#levels_game_rules
        ol
          li Qualifying
          li Semi Finals 
          li Finals
      p During the qualifying round you will be matched with random people and will play 6 rounds.<br/> If you are among the top 6 people you will qualify for the semi-finals. <br/>During the semi finals you will play against the other 6 people who qualified and if you're among the top 2 you will play 6 other games against the other person in the finals. If you get the most points in this stage you'll win the tournament
    