body
    h1.pageHead tic tac toe
        span#stage ##{stage}
    
    div#players
    
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js', integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=', crossorigin='anonymous')
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
    link(href="public/style.css", rel="stylesheet")
    <script src='/socket.io/socket.io.js'></script>
    script(async, defer, src='public/client.js')
   
    div#whoTurn
    
    div.gameWrapper
        div#game
            div#1_1.gameSquare(name="1")
            div#1_2.gameSquare(name="2")
            div#1_3.gameSquare(name="3")
            div#2_1.gameSquare(name="4")
            div#2_2.gameSquare(name="5")
            div#2_3.gameSquare(name="6")
            div#3_1.gameSquare(name="7")
            div#3_2.gameSquare(name="8")
            div#3_3.gameSquare(name="9")
    div#buttons
        a#logout(href=`https://protected-brushlands-35484.herokuapp.com/logout/${username}`) Logout  
        div#next
        p(style="color:grey;font-size:13px")#refresh_message Please refresh if you have been waiting for you opponent for too long or if there is any problem.
