#game{
    width: 500px;
    height: 500px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
    margin: auto;
    padding:10px;
    border-radius: 10px;
}.gameSquare{
    background-color:#a6a2a2 ;
    border-radius: 20px;
    color: white;
    display: flex;
    font-size: 70px;
    justify-content: center;
    align-items: center;
  
}.close_alert{
    background-color: #fc6666;
    border:0px;
    color:white;
    font-size: 20px;
    float:right;
}.alert-close{
    opacity:0 !important;
    display:none !important;
    transition: opacity 0.6s;
}
body{
    font-family: arial;
    text-align: center;
   
    
}.pageHead{
    padding: 20px;
    color:#349ceb
}#room{
    margin: 40px;
    font-size: 20px;
    color: grey;
}.gameWrapper{
    margin:50px;
}a{ 

    text-decoration: none;
    color: black;
    border:1px solid black;
    padding: 20px;
    border-radius: 10px;
    margin:20px;
}a:hover{
    background: #349ceb;
    color:white;
    border:0px;
}#players{
    display: flex;
    width:100%;
    background: black;
    border-radius: 10px;
}#player1{
    border-radius: 10px 0px 0px 10px;
    float: left;
    padding: 20px;
    background-color: #a6a2a2;
    width: 50%;
    color: white;
    font-weight: 800;
}#player2{
    float:right;
    color: white;
    background-color: #349ceb;
    padding: 20px;
    width: 50%;
    font-weight: 800;
    border-radius: 0px 10px 10px 0px;
}.userType{
    font-size: 20px;
    font-weight: 800;
    margin-right: 30px;
}#nickname{
    padding: 20px;
    border-radius: 10px;
    border: 1px solid rgb(180, 180, 180);
    width:50vw;  
    text-align: center; 
}#register_button{
    padding: 10px;
    border-radius: 10px;
    border: 0px;
    color: black;
    background-color: white;
    font-size: 15px;
}#passwordField{
    visibility: hidden;

}#buttons{
    display:flex;
}#whoTurn{
    padding: 0px;
    font-size: 20px;
    color:#a6a2a2;
    margin-top: 30px;
}.points{
    
    float: right;
}#pointsLounge{
    float: right;
}
#peoples{
    margin: 20px 20px 20px 0px;    
}.person{
    display:flex;
    width: 100vw;
    background-color: #349ceb;
    font-weight: 800;
    padding: 20px;
    margin-bottom: 10px;
    color: white;


}#buttons{
    margin-top:30px;
}#rules{
    margin-bottom:10px;
   text-align: justify;
    
    
    padding: 0px 60px 10px 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: auto;

}#message_regis{
    background-color: #fc6666;
    color: white; 
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    margin:10px;
    width:90%;
    opacity:1;

    
}#about{
    background-color: #349ceb;
    padding:10px;
    color: white;
    text-align: center;
    width: 100%;
    border-radius: 10px;
}#text_rules{
    text-align: justify;
    border-radius:20px;
    padding:30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}#levels_game_rules{
    text-align: center;
    
}ol{
    text-align: center;
    list-style-position: inside;
}ol li{
    padding: 10px;
}#main{
    background-color: white;
    margin:30px;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

   
}#wrapper_logIn{
    background-color: #349ceb;
    display: flex;
    justify-content: center;
    background-color: #349ceb;
}#registrationWrapper{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50vw;
    padding: 20px;
    border-radius: 20px;
    margin:20px;
    background-color: #349ceb;
}#registrationForm{
    background-color: white;
    border-radius: 20px;
    color:white;
    background-color: #349ceb;
}.waiting{
    background: black !important;
}#stage{
    padding:10px;
    border-radius:10px 10px 0px 0px;
    color: black    ;
    font-size: 1.2em;
    font-weight: 800;
    color:#a6a2a2

}
@media(max-width:900px){
    h1{color:#349ceb}
    #registrationWrapper{
        width: 100%;
        padding: 10px 5px 10px 5px;
        margin:0px;
        box-shadow: 0px 0px 0px 0px;
        border-radius: 0px;
    }#wrapper_logIn{
        width:100vw;
        margin:0px;
        padding:0px;
        height:auto;

    }
    #main{
        align-items: flex-start;
        display: block;
        width: 100vw;

        padding:0px;
        margin: 20px 0px 0px 0px;
        
        border-radius:30px;
    }#nickname{
        width: 70vw;;
    }#rules{
        border-radius: 0px;
        border:0px;
        margin:0px;
    }#text_rules{
        border:0px;
        border-radius:0px;
        width:95vw;
        margin:0px;
        padding:20px;
        box-shadow: 0px 0px 0px 0px;
    }h1{
        font-size: 25px;
    }#gameWrapper{
        
        width: 20vw;
        height: 20vw;
    }.gameSquare{
        width: 100px;
        height: 100px;
    }#game{
        width: 300px;
        height: 300px;
    }#about{
        width:85vw;
    }
}